body{
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#login{
 background-color: #1877f2;
padding: 10px 20px;
	border: 1px solid #1877f2;
	border-radius: 5px;
	color: white;
	margin: 0px 0px 10px 0px;
	}

.signup{
	margin: 10px 0px;
	background-color: #42b72a;
	padding: 10px 20px;
	border: 1px solid #42b72a;
	border-radius: 5px;
	color: white;
}
#left{
	width: 450px;
	margin-top: 70px;
	display: inline-block;
}

form{
	display: flex;
	width: 300px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
	flex-direction: column;
	gap: 10px;
}
a{
	text-decoration: none;
}

input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

